.container {
  display: flex;
  align-items: center;
  height: 100%;
  min-height: 60px;
}

.container.draggable {
  cursor: grab;
}

.container.draggable:active {
  cursor: grabbing;
}

.canvas {
  display: block;
  height: 100%;
}
